.About{
    width: 100%;
    display: flex;
    flex-direction: column;
    .container-about{
        margin: auto;
        width: 80%;
        height: 85vh;
        display: flex;
        flex-direction: row;
        padding: 50px 0px 50px 0px;
        .left-side{
            width: 50%;
            // background-color: rgb(139, 139, 210);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                text-align: center;
            }
        }
        .right-side{
            width: 50%;
            // background-color: pink;
            // border-radius: 50%;
            // background-image: url('https://collegecost.ed.gov/wwwroot/fonts/graphic-scorecard.svg');
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;
        }
    }
    .team-members{
        width: 80%;
        height: 300px;
        margin: auto;
        // background-color: pink;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width:'768px') {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        .members-infor{
            width: 250px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .avatar{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: blue;
                transition-duration: 1s;
            }
            .avatar:hover{
                transform: translateY(-20px);

            }
            h2{
            }
        }
        
        
    }
    
}