.Tracuu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    .list-menu{
        width: 80%;
        height: 80px;
        // background-color: aquamarine;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .school-filter{
            width: 20%;
            height: 40px;
            border-radius: 30px;
            text-align: center;
            // border: none;
        }
        .grade-filter{
            width: 10%;
            height: 40px;
            border-radius: 30px;
            text-align: center;

            // border: none;
        }
        .year-filter{
            width: 15%;
            height: 40px;
            border-radius: 30px;
            border: none;
        }
        .search{
            width: 20%;
            height: 40px;
            border-radius: 30px;
            text-align: center;
            border: 2px solid #ddddddff;
        }   
        .dropdown {
            width: 10%;
            float: left;
            overflow: hidden;
          }
          .dropbtn{
            width: 100%;
            height: 40px;
            border-radius: 30px;
          }
          .dropdown .dropbtn {
            color: black;
            // font-size: 20px;  
            // border: none;
            outline: none;
            // padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }
          
          .navbar a:hover, .dropdown:hover .dropbtn {
            color: red;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            z-index: 1;
          }
          
          .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
          }
          
          .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
    }
    .grade-table{
        width: 80%;
        text-align: center;
        border: 1px solid black;
        table,th,td{
            border: 1px solid black;
        }
        td,th{
            padding: 10px;
        }
        th{
            text-align: center;
        }
        th{
            font-weight: normal;
        }
        margin-bottom: 30px;
    }
    
}