.Header{
    height: 100px;
    width: 100%;
    background-color: #0795DF;
    position: sticky;
    z-index: 1000;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #1b80c4;
    .logo{
        width: 200px;
        height: 200px;
    }
    .navbar {
        display: flex;
        overflow: hidden;
        p{
          color: white; 
          font-size: 20px;
          margin-top: 13px;
        
        }
      }

      .navbar a {
        float: left;
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 14px 16px;
        text-decoration: none;
        color: white;
      }

      .dropdown {
        float: left;
        overflow: hidden;
      }
      
      .dropdown .dropbtn {
        color: white;
        font-size: 20px;  
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover,.navbar p:hover, .dropdown:hover .dropbtn {
        cursor: pointer;
        color: red;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
      }
      
      .dropdown-content a, .dropdown-content p{
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover, .dropdown-content p:hover  {
        background-color: #ddd;
        color: black;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }

}
@media only screen and (max-width:768px)
{
    .Header{
        .navbar{
            flex-direction: column;
            align-items: flex-start;
            .menu-icon {
                position: fixed ;
                left: 150px;
                top: 20px;
                display: block;
                // background-color: #333;
                color: #f2f2f2;
                padding: 14px 16px;
                cursor: pointer;
                font-size: 30px;
            }

            a, .dropdown {
                display: none;
            }

            &.open {

                background-color:#0795DF;
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                a, .dropdown {

                    margin-left: 30px;
                    margin-top: 40px;
                    display: block;
                    
                }
            }
        }
    }

}   